#scenarioDefinition {
    white-space: pre;
    font-family: monospace;
    font-size: smaller;
}

#matchTable td, #matchTable th {
    text-align: center;
}

#matchTable .pointsCol {
    text-align: right;
}
